<nav data-menu class="menu">
  <ul>
    {{ partial:menu/item :url="'/angebot'" :text="'Angebot'" }}
    {{ partial:menu/item :url="'/angebot'" :text="'Freie Termine'" :icon="'arrow'" }}
  </ul>
  <ul class="mt-18">
    {{ partial:menu/item :url="'/angebot'" :text="'Prozessarbeit'" }}
    {{ partial:menu/item :url="'/angebot'" :text="'Anwendungsfelder'" }}
  </ul>
  <ul class="mt-18">
    {{ partial:menu/item :url="'/angebot'" :text="'Über mich'" }}
    {{ partial:menu/item :url="'kontakt'" :text="'Kontakt'" }}
  </ul>
</nav>