<nav data-menu class="menu">
  <ul>
    {{ nav:collection:pages navigation:is="services" sort="order" }}
      {{ partial:menu/item :url="url" :text="title" }}
    {{ /nav:collection:pages }}
  </ul>
  <ul class="mt-18">
    {{ nav:collection:pages navigation:is="work" sort="order" }}
      {{ partial:menu/item :url="url" :text="title" }}
    {{ /nav:collection:pages }}
  </ul>
  <ul class="mt-18">
    {{ nav:collection:pages navigation:is="meta" sort="order" }}
      {{ partial:menu/item :url="url" :text="title" }}
    {{ /nav:collection:pages }}
  </ul>
</nav>