/* * {
  background: rgb(0 100 0 / 0.05) !important;
} */

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
}

main {
}

.content a {
  @apply text-deepblue;
}


