<h1 class="text-xs leading-none lg:text-lg 3xl:text-xl uppercase fixed z-50 top-9 lg:top-36 xl:top-72 left-18 lg:left-[calc((100%-854px)/2)] xl:left-[calc((100%-930px)/2)] 3xl:left-[calc((100%-1528px)/2)]">
  Praxis <span class="bg-white inline-block leading-none pb-12">Praxis</span>
  {{ if is_homepage }}
  <div class="italic normal-case pl-24 lg:pl-132 3xl:pl-160 leading-none" data-subline>
    <div class="bg-white py-2 inline-block">Prozessorientiertes Coaching BSO</div><br>
    <div class="bg-white py-2 inline-block">Supervision BSO</div><br>
    <div class="bg-white py-2 inline-block">Psychosoziale Beratung SGfB</div>
  </div>
{{ /if }}
</h1>

