<a href="/" title="Home">
  <h1 class="text-xs !leading-none lg:text-base 3xl:text-xl uppercase fixed z-50 top-15 lg:top-36 3xl:top-72 left-18 lg:left-36 3xl:left-[calc((100%-1528px)/2)]">
    <span class="bg-white lg:pb-10 inline-block leading-none">Praxis Praxis</span>
    {{ if is_homepage }}
      <div class="italic normal-case mt-14 lg:mt-0 leading-none" data-subline>
        <span class="bg-white py-2 px-1 inline-block">Prozessorientiertes Coaching BSO</span><br>
        <span class="bg-white py-2 px-1 inline-block">Supervision BSO</span><br>
        <span class="bg-white py-2 px-1 inline-block">Psychosoziale Beratung SGfB</span>
      </div>
    {{ /if }}
  </h1>
</a>
